@{
    ViewData["Title"] = "Предупреждение";
    Layout = "_LayoutAdmin";
}
<h3 class="search_h3">Предупреждение!</h3>
<div class="finish_font ml-3 textwarning">
    Чтобы удалить текущего пользователя, необходимо предварительно удалить все заказы, которые сделал пользователь.
    Удалите все заказы этого зарегистрированного пользователя в разделе <strong style="font-weight:600">"Список заказов"</strong> и повторите попытку.
</div>