<h3 class="search_h3">Предупреждение!</h3>
<div class="finish_font ml-3 " style="line-height:1.7; width:95%;">
    Чтобы удалить текущую категорию, необходимо предваритьельно удалить все товары, относящиеся к этой категории.
    Удалите все игры этой категории и повторите попытку.
</div>