@{
    ViewData["Title"] = "Предупреждение";
    Layout = "_LayoutAdmin";
}
<h3 class="search_h3">Предупреждение!</h3>
<div class="finish_font ml-3 textwarning">
    Чтобы удалить текущую категорию, необходимо предваритьельно удалить все товары, относящиеся к этой категории.
    Удалите все игры этой категории и повторите попытку.
</div>