@{
    ViewData["Title"] = "Роли";
    Layout = "_LayoutAdmin";
}
<h3 class="search_h3 text-danger">Доступ запрещён!</h3>
<h3 class="text-danger finish_font ml-3 mb-3">Чтобы получить доступ к этому ресурсу нужно иметь права Администратора!</h3>
<div class="text-center">
    <img src="~/images/Access.png" style="height:200px; width:200px" />
</div>

