@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Изменить пароль";
}
<h3 class="search_h3">Изменить пароль</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="account" asp-action="changepassword" class="form-location">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="col-form-label"></label>
                <input asp-for="CurrentPassword" class="form-control input-width" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="col-form-label"></label>
                <input asp-for="NewPassword" class="form-control input-width" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control input-width" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success mt-4 mr-2">Сохранить</button>
            <a asp-controller="account" asp-action="privateoffice">
                <input type="button" class="btn btn-info col-form-label mt-4" value="Назад">
            </a>
        </form>
    </div>
</div>