@{
    ViewData["Title"] = "Email подтверждён";
}
<h3 class="search_h3"> Ваша электронная почта подтверждена!</h3>
<p class="confirmtext ml-4">
    Продолжить покупки
</p>
<form asp-controller="home" asp-action="index" method="get">
    <button type="submit" class="confirmbutton btn btn-success ml-4">На главную</button>
</form>


