@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Подтверждение Email";
}
<h3 class="search_h3">Забыли пароль?</h3>
<div class="finish_font textwarning ml-3">Если вы не помните свой пароль, введите в поле адрес зарегистрированной электронной почты.</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="account" asp-action="forgotpassword" class="form-location">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="mb-2"></label>
                <input asp-for="Email" class="form-control input-width" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success mt-3">Отправить</button>
        </form>
    </div>
</div>