<h3 class="search_h3">Сбросить пароль</h3>
<div class="finish_font text-danger ml-4 textwarning">
    Мы отправили электронное письмо с инструкциями по сбросу пароля на введённый адрес электронной почты.
</div>