@model ResetPasswordViewModel
<h3 class="search_h3">Задать новый пароль</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="account" asp-action="resetpassword" class="form-location">
            <div asp-validation-summary="All" class="text-danger mb-2"></div>
            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <div class="form-group">
                <label asp-for="Password" class="mb-2"></label>
                <input asp-for="Password" class="form-control input-width" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="mb-2 mt-3"></label>
                <input asp-for="ConfirmPassword" class="form-control input-width" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success mt-3">Сохранить</button>
        </form>
    </div>
</div>