a {
  color: #39647e; }

button {
  border: none; }

/*img{
    border:none;
}
*/
button:active,
button:focus {
  outline: none; }

.text_color {
  color: #999; }

.bannerLeft {
  padding: 20px 0 10px 12px; }

#sale {
  margin-bottom: 40px; }

.searchFormclass {
  margin: 30px auto; }

.sale_padding {
  padding-top: 30px;
  margin-right: 30px; }

.cards {
  padding-top: 12px; }

.searh_submit {
  background-image: url(/images/go_search.png);
  width: 185px;
  height: 28px; }

#naviHeader ul {
  display: flex; }
  #naviHeader ul > li:nth-child(4) {
    margin-left: auto;
    margin-right: 10px; }
    #naviHeader ul > li:nth-child(4) a > div {
      float: left;
      padding-right: 10px; }
    #naviHeader ul > li:nth-child(4) a > img {
      width: 50px; }

.incor {
  border: none;
  margin: 10px 0;
  padding: 0; }
  .incor img {
    width: 130px;
    margin: 0; }

.lSale_block, .rSale_block {
  height: 290px; }
  .lSale_block img, .rSale_block img {
    border: none; }
  .lSale_block > p.descr, .rSale_block > p.descr {
    font-size: 15px;
    text-align: justify; }
  .lSale_block a > img, .rSale_block a > img {
    width: 125px;
    height: 150px;
    transition: all 1s ease; }
    .lSale_block a > img:hover, .rSale_block a > img:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }

.table-search {
  width: 775px; }
  .table-search thead tr > th, .table-search h2 {
    font: 18px Tahoma, Geneva, sans-serif;
    color: #39647e;
    margin-bottom: 1em; }
  .table-search tbody td {
    font: 16px Tahoma, Geneva, sans-serif; }
    .table-search tbody td > a + form {
      margin-top: 20px; }
    .table-search tbody td.price {
      font: 18px Tahoma, Geneva, sans-serif; }
    .table-search tbody td a > img {
      width: 130px;
      height: 150px; }
    .table-search tbody td > img {
      width: 90px;
      height: 100px; }
    .table-search tbody td img.deleteimage {
      width: 20px;
      transition: all 1s ease; }
      .table-search tbody td img.deleteimage:hover {
        -webkit-transform: rotate(360deg) scale(1.5);
        -ms-transform: rotate(360deg) scale(1.5);
        transform: rotate 360deg scale(1.5); }
  .table-search tfoot td {
    font: 16px Tahoma, Geneva, sans-serif; }
    .table-search tfoot td.result {
      font: 20px Tahoma, Geneva, sans-serif; }

.table-order {
  width: 600px;
  margin: 0 auto; }

.search_h3 {
  font: 23px Tahoma, Geneva, sans-serif;
  color: #39647e;
  margin-bottom: 1em;
  margin-top: 10px;
  margin-left: 1em; }

.imagemodel {
  margin-right: 30px;
  margin-bottom: 10px;
  float: left; }
  .imagemodel img {
    width: 220px; }

.description .description__text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: justify;
  font: 15px Tahoma, Geneva, sans-serif;
  line-height: 1.5em; }

.form-location {
  padding-left: 25px;
  font-size: 1.1em;
  font: 15px Tahoma, Geneva, sans-serif; }
  .form-location .form-line {
    display: flex;
    width: 60%;
    justify-content: space-between; }
    .form-location .form-line input {
      height: 1.4em; }
  .form-location .form-group {
    margin-bottom: 1px; }
    .form-location .form-group .form-input {
      width: 60%;
      height: 1.4em;
      font-size: 1em;
      margin-bottom: 3px; }

h3.smallersize {
  font-size: 12px; }

.offer {
  float: right;
  margin-right: 175px;
  margin-top: 10px; }
  .offer .offer__img {
    width: 220px; }

.regwarning {
  text-decoration: none;
  font: 16px Tahoma, Geneva, sans-serif;
  color: #999;
  padding: 0 15px;
  margin-bottom: 20px;
  margin-left: 10px; }

.confirm {
  width: 250px;
  height: 25px; }

.confirmtext {
  margin-top: 10px;
  margin-bottom: 10px;
  font: 16px Tahoma, Geneva, sans-serif;
  color: #39647e; }

.confirmbutton {
  font: 16px Tahoma, Geneva, sans-serif;
  color: white; }

.mt-10 {
  margin-top: 5em; }

.login {
  width: 50px; }

.labelChoice {
  font: 21px Tahoma, Geneva, sans-serif; }

.finish_font {
  font: 16px Tahoma, Geneva, sans-serif; }
