@{
    ViewData["Title"] = "Удаление пользователя";
    Layout = "_LayoutAdmin";
}
<h3 class="search_h3">Удаление выбранного пользователя</h3>
<p class="finish_font ml-4 mb-2">Вы действительно хотите удалить этого зарегистрированного покупателя?</p>
<form asp-controller="admin" asp-action="deleteuser" method="post" class="form-location" asp-antiforgery="true">
    <input type="hidden" name="userId" value="@ViewBag.UserId" />
    <a asp-controller="admin" asp-action="users" asp-route-userconfirmed="false" asp-route-page="1">
        <input type="button" class="btn btn-info col-form-label mt-3" value="Назад">
    </a>
    <button type="submit" class="btn btn-danger col-form-label mt-3 ml-2">Удалить</button>
</form>