<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("_CssPartial")
    <link href="~/bundle/css/chiefslider.min.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        @await Html.PartialAsync("HeaderPartial")
        @await Html.PartialAsync("SliderPartial")
        <div id="content">
            @await Html.PartialAsync("LeftSideBarPartial")
            <div id="sale">
                @RenderBody()
            </div>
            <div id="rSidebar">
                @await Html.PartialAsync("RightSideBarPartial", new LoginViewModel())
                @await Html.PartialAsync("CustomerReviewsPartial")
            </div>
        </div>
        <div class="clear"></div>
        @await Html.PartialAsync("FooterPartial")
    </div>
    <script src="~/bundle/js/chiefslider.min.js"></script>
    @await Html.PartialAsync("ScriptsPartial")
    @await Html.PartialAsync("ValidationsScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/bundle/js/someehosting.min.js"></script>
</body>
</html>

