<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("Partials/MetatagsPartial")
    @await Html.PartialAsync("Partials/CssPartial")
</head>
<body>
    <div id="wrapper">
        @await Html.PartialAsync("Partials/HeaderPartial")
        <div id="content">
            @await Html.PartialAsync("Partials/LeftSideBarPartial")
            <div id="sale" class="sale_padding">
                @RenderBody()
            </div>
            <div id="rSidebar">
                @await Html.PartialAsync("Partials/RightSideBarPartial", new LoginViewModel())
            </div>
        </div>
        <div class="clear"></div>
        @await Html.PartialAsync("Partials/FooterPartial")
    </div>
    @await Html.PartialAsync("Partials/ScriptsPartial")
    @await Html.PartialAsync("Partials/ValidationsScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/bundle/js/someehosting.min.js"></script>
</body>
</html>
