<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("_CssPartial")
</head>
<body>
    <div id="wrapper">
        @await Html.PartialAsync("HeaderPartial")
        <div id="content">
            @await Html.PartialAsync("LeftSideBarPartial")
            <div id="sale" class="sale_padding">
                @RenderBody()
            </div>
            <div id="rSidebar">
                @await Html.PartialAsync("RightSideBarPartial", new LoginViewModel())
            </div>
        </div>
        <div class="clear"></div>
        @await Html.PartialAsync("FooterPartial")
    </div>
    @await Html.PartialAsync("ScriptsPartial")
    @await Html.PartialAsync("ValidationsScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
