<div id="lSidebar">
    <ul id="cat">
        <li><a href="#">Скоро выйдут</a></li>
        <li><a href="#">Steam игры</a></li>
        <li><a href="#">Шутеры/Action</a></li>
        <li><a href="#">Стратегии</a></li>
        <li><a href="#">Симуляторы</a></li>
        <li><a href="#">Приключения</a></li>
        <li><a href="#">Ролевые (RPG)</a></li>
        <li><a href="#">Драки (Fighting)</a></li>
        <li><a href="#">Спортивные</a></li>
        <li><a href="#">Квесты</a></li>
    </ul>
    <div class="block">
        <h3>Реклама</h3>
        <div class="bannerLeft">
            <img src="/images/banner_left.jpg" alt="leftBanner">
        </div>
    </div>
</div>