<div id="lSidebar">
    <ul id="cat">
        <li>
            <a asp-controller="admin" asp-action="games" asp-route-page="1">
                Список продаваемых игр
            </a>
        </li>
        <li>
            <a asp-controller="admin" asp-action="addgame">
                Добавить новую игру
            </a>
        </li>
        <li>
            <a asp-controller="admin" asp-action="categories">
                Категории игр
            </a>
        </li>
        <li>
            <a asp-controller="admin" asp-action="addcategory">
                Добавить новую категорию
            </a>
        </li>
        <li>
            <a asp-controller="admin" asp-action="orders" asp-route-page="1">
                Список заказов
            </a>
        </li>
        <li>
            <a asp-controller="admin" asp-action="users" asp-route-page="1">
                Управление пользователями
            </a>
        </li>
        <li>
            <a asp-controller="admin" asp-action="roles">
                Управление ролями
            </a>
        </li>
    </ul>
 </div>