<form id="searchForm" asp-controller="search" asp-action="index" method="get">
    <p><input class="search" type="search" name="query" placeholder="Название или разработчик игры" value="" /></p>
    <p><input class="go searh_submit" type="submit" value="" /><p>
</form>