@*<div class="block">
    <h3>Отзывы посетителей</h3>
    <div id="otz">
        <div class="otziv">
            <p class="date">24.03.19,<a href="/profile/">Alex</a></p>
            <p>Спасибо за сайт! Широкий выбор игр, адекватные цены. Обязательно посоветую своим друзьям</p>
        </div>
        <div class="otziv">
            <p class="date">19.07.20,<a href="/profile/">Денис</a></p>
            <p>Вчера впервые купил игру через интернет и остался очень доволен: быстро, удобно. Спасибо!</p>
        </div>
        <a class="otzv" href="#">Все отзывы</a>
    </div>
</div>*@
