<div id="lSidebar">
    @await Component.InvokeAsync("CategoryMenu")
    <div class="block">
        <h3>Реклама</h3>
        <div class="bannerLeft">
            <img style="width:200px;" src="/images/haloinfinite.png" alt="leftBanner">
        </div>
    </div>
</div>