$base-color: #39647e;
$text-color: #999;
$font: Tahoma,Geneva, sans-serif;
$font_size: 15px;
$gap: 1em;
$font-item: $font_size+3 $font;
$indent:30px;
a {
    color:$base-color; 
}
button{
    border:none;
}

button:active,
button:focus {
    outline: none;
}
.text_color{
    color:$text-color;
}

//-----------------Glyphicon Style-----------------------
@font-face {
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
         url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), 
         url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
.glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.glyphicon-chevron-down:before {
    content: "\f078";
}
.glyphicon-chevron-up:before {
    content: "\f077";
}
.glyphicon-chevron-right:before {
    content: "\f054";
}
.glyphicon-chevron-left:before {
    content: "\f053";
}
.glyphicon-chevron-padding {
    padding: .5rem .65rem;
}
//-------------------------------------------------------
#loginForm {
    input.text{
        color: #5c5c5c;
    }
    a {
        color: #353535;
    }
}

.bannerLeft {
    padding: 20px 0 10px 12px;
}

#sale{
    margin-bottom:40px;
}
.searchFormclass {
    margin: $indent auto;
}
.sale_padding {
    padding-top: $indent;
    margin-right:30px;
}

.cards {
    padding-top: 12px;

}
.searh_submit {
    background-image: url(/images/go_search.png);
    width: 185px;
    height: 28px;
}
#naviHeader ul {
    display: flex;
    & > li:last-child {
        margin-left: auto;
        margin-right: 10px;
        a > div {
            float: left;
            padding-right: 10px;
        }
        a > img {
            width:49px;
        }
    }
}
.incor {
    border: none;
    margin: 10px 0;
    padding:0;
    img {
        width: 130px;
        margin: 0;
    }
}

.lSale_block, .rSale_block {
    height: 297px;
    img {
        border: none;
    }

    & > p.descr {
        font-size: $font_size;
        text-align: justify;
        padding-top:10px;  
    }

    .flexblock {
        display: flex;
        flex-direction: row;
        margin-bottom:1.2em;

        .flexblock__leftitem {
            width: 140px;
            height: 150px;
            overflow:hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 1s ease;

                &:hover {
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
        .flexblock__rightitem {
            margin-left:1.2em;
        }
    }
 }

.table-search {
    width: 775px;
    thead tr > th, h2 {
        font: $font-item;
        color: $base-color;
        margin-bottom: $gap;
    }
    tbody td {
        font: $font_size+1 $font;
        & > a + form {
            margin-top: 20px;
        }
        &.price {
            font: $font-item;
        }
        div {
            width: 130px;
            height: 140px;
            overflow: hidden;
            & > a > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 1s ease;
                &:hover {
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
        .orderimage {
            width: 100px;
            height: 110px;
            overflow: hidden;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 1s ease;
                &:hover {
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
        & > img {
            width: 90px;
            height: 100px;
        }
        img.deleteimage {
            width: 20px;
            transition: all 1s ease;
            &:hover {
                -webkit-transform: rotate(360deg) scale(1.5);
                -ms-transform: rotate(360deg) scale(1.5);
                transform: rotate (360deg) scale(1.5);
            }
        }
    }
    tfoot td {
        font: $font_size+1 $font;
        &.result {
            font: $font_size+5 $font;
        }
    }
}

.table-order {
    max-width: 600px;
    margin: 0 auto;

    .tdnumbers {
        & > .changenumber {
            display: flex;
            flex-direction: row;
            width: 90px;

            .changenumber__additem {
                max-width: 30px;

                .changenumber__plus {
                    width: 10px;
                }
            }

            .changenumber__count {
                max-width: 20px;
                padding-left: 8px;
            }

            .changenumber__removeitem {
                max-width: 30px;

                .changenumber__minus {
                    width: 10px;
                }
            }
        }
    }
}


.search_h3 {
    font: $font_size+8 $font;
    color: $base-color;
    margin-bottom: $gap;
    margin-top: 10px;
    margin-left: $gap;
}


.imagemodel {
    margin-right: $indent;
    margin-bottom: 10px;
    float: left;

    img {
        width: 200px;
    }
}

.description {
    clear: both;
    .textdescription {
        padding-top: $indent;
        padding-bottom: $indent;
        text-align: justify;
        font: $font_size $font;
        line-height: 1.5em;
    }
}

.shortdescription {
    text-align: justify;
    font: $font_size $font;
    line-height: 1.5em;
    width:85%;
    
}


.form-location {
    padding-left: 25px;
    font-size: 1.1em;
    font: $font_size $font;

    .form-line {
        display: flex;
        width: 60%;
        justify-content: space-between;

        input {
            height: 1.4em;
        }
    }

    .form-group {
        margin-bottom: 1px;
    }

    .form-input {
        width: 60%;
        height: 1.4em;
        font-size: 1em;
        margin-bottom: 3px;
    }

    .form-inline {

        .form-input {
            width: 20%;
            height: 1.4em;
            font-size: 1em;
            margin-bottom: 3px;
        }

        .form-input-small {
            width: 5%;
            height: 1.4em;
            font-size: 1em;
            margin-bottom: 3px;
        }
    }
}


h3.smallersize {
     font-size: 12px;
}

.offer {
    float: right;
    margin-right:175px;
    margin-top:10px;
    .offer__img {
      width: 220px;

    }
}

.regwarning {
    text-decoration: none;
    font: $font_size+1 $font;
    color: $text-color;
    padding: 0 15px;
    margin-bottom: 20px;
    margin-left:10px;
}
.confirm
{
    width:250px;
    height:25px;
   
}
.confirmtext {
    margin-top: 10px;
    margin-bottom: 10px;
    font: 16px $font;
    color: #39647e;
}
.confirmbutton {
    font: 16px $font;
    color: white;
}

.mt-10{
    margin-top:5em;
}
.login
{
    width:50px;
}

.labelChoice {
    font: $font_size+6 $font;
}

.finish_font {
    font: $font_size+1 $font;
}

.page-item.active .page-link {
    background-color: #39647e;
    border-color: #39647e;
}
.page-link {
    color: #39647e;
}

#ShortDescription {
    resize: none;
    height:90px;
}

.updateimage {
    width: 160px;
    margin-top: 7px;
}

.input-width {
    width: 30%;
    height: 1.4em;
    font-size: 1em;
    margin-bottom: 3px;
}

.marknew {
    position: relative;

    .marknew__text {
        position: absolute;
       /* top: -2px;
        left: 11px;*/
        top:12px;
        left:155px;
        width: 50px;
        height: 40px;
        color: red;
       
    }
}

.textwarning {
    line-height: 1.7;
    width: 95%;
}
.checkboxsize {
    width: 16px;
    height: 16px;
    margin-top:0.1rem;
}

.accountinput {
    display: flex;
    flex-direction: row;
    margin-left: 40px;

    .accountinput__privateoffice {
        font: $font_size+2 $font;
        margin-top: 1.3em;
        margin-left: 25px;
    }
}


.clickbutton:active {
    position:relative;
    left:2px;
    top:2px;
}

.tablewidth {
    width: 95%;
    margin: 0 auto;
}